In [1]:
# Modules
import pandas as pd

In [2]:
!ls

purchase_data.json
purchase_data2.json
Pymoli_Pandas.ipynb

In [3]:
# Read JSON files

json_path = 'purchase_data.json'
df = pd.read_json(json_path)

In [4]:
# Show columns

df.columns.tolist()

['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']

In [21]:
# Rename columns

rename_df = df.columns=['Age', 'Gender','Item_id','Item_name','Price','SN']

In [22]:
rename_df

['Age', 'Gender', 'Item_id', 'Item_name', 'Price', 'SN']

In [23]:
# Total numbers of players

player_count = len(df)
count_df = pd.DataFrame({'Number of Players':[player_count]})
count_df

   Number of Players
0                780

In [25]:
# Number of Unique Items

unique_items = df.Item_name.unique()
num_unique_items = len(unique_items)

In [27]:
# Average Purchase Price
average_price = round(df.Price.mean(),2)

In [28]:
# Total Number of Purchases
total_purchase_number = len(df.Price)

In [29]:
# Total Revenue
total_revenue = round(df.Price.sum(),0)

In [30]:
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items':[num_unique_items], 'Average Pirce': [average_price],
                                      'Number of Purchases': [total_purchase_number], 'Total Revenue':[total_revenue]})
purchasing_analysis_df['Average Pirce'] = '$' + purchasing_analysis_df['Average Pirce'].astype(str)
purchasing_analysis_df['Total Revenue'] = '$' + purchasing_analysis_df['Total Revenue'].astype(str)

purchasing_analysis_df = purchasing_analysis_df[['Number of Unique Items', 'Average Pirce', 
                                                 'Number of Purchases', 'Total Revenue']]
purchasing_analysis_df

   Number of Unique Items Average Pirce  Number of Purchases Total Revenue
0                     179         $2.93                  780       $2286.0

In [31]:
# Percentage/Count of Male Players

gender_total = len(df.Gender)

male_count = len(df[df['Gender'] == 'Male'])

percent_male = round((male_count/gender_total)*100,2)

data_male = {'Percentage of Players':[percent_male], 'Total Count':[male_count]}
male_df = pd.DataFrame(data_male, index = ['Male'])

In [32]:
# Percentage/Count of Female Players

female_count = len(df[df['Gender'] == 'Female'])
percent_female = round((female_count/gender_total)*100,2)
data_female = {'Percentage of Players':[percent_female], 'Total Count':[female_count]}
female_df = pd.DataFrame(data_female, index = ['Female'])

In [33]:
# Percentage/Count of Other / Non-Disclosed

other_count = len(df[(df['Gender'] != 'Male') & (df['Gender'] != 'Female')])
percent_other = round((other_count/gender_total)*100,2)
data_other = {'Percentage of Players':[percent_other], 'Total Count':[other_count]}
other_df = pd.DataFrame(data_other, index = ['Other / Non-Disclosed'])

In [34]:
# Table Result

frames_demographic = [male_df, female_df, other_df]

result_demographic  = pd.concat(frames_demographic)

result_demographic['Percentage of Players'] = result_demographic['Percentage of Players'].astype(str) + '%'

result_demographic

                      Percentage of Players  Total Count
Male                                 81.15%          633
Female                               17.44%          136
Other / Non-Disclosed                 1.41%           11

In [35]:
data_size= len(df)
df.Age.min()
df.Age.max()
less_10 = df[df['Age'] < 10]

size_10 = len(less_10)
percent_10 = round((size_10/data_size)*100,2)
mean_price_10 = round(less_10.Price.mean(),2)
total_purchase_10 = round(less_10.Price.sum(),2)

In [36]:
mean_price_10 = round(less_10.Price.dropna().mean(),2)
max_price_10 = less_10.Price.dropna().max()
min_price_10 = less_10.Price.dropna().min()
less_10['Price'] = less_10['Price'] - mean_price_10
normalized_price_constant_10 = less_10['Price'].mean()
normalized_price_10 = round(mean_price_10 - normalized_price_constant_10,2)
normalized_price_10

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.98

In [37]:

percent_10_df = {'Percentage of Players':[percent_10], 'Total Count':[size_10]}
percent_10_df = pd.DataFrame(percent_10_df, index = ['<10'])

In [38]:
percent_10_df_analysis = {'Average Purchased Price':[mean_price_10], 'Purchase Count':[size_10],
                         'Total Purchase Value': [total_purchase_10], 'Normalized Total': [normalized_price_10]}

percent_10_df_analysis = pd.DataFrame(percent_10_df_analysis, index = ['<10'])

percent_10_df_analysis = percent_10_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [39]:
btw_10_14 = df[(df['Age'] >= 10) & (df['Age'] <15)]
size_btw_10_14 = len(btw_10_14)
percent_btw_10_14 = round((size_btw_10_14/data_size)*100,2)
mean_price_btw_10_14 = round(btw_10_14.Price.mean(),2)
total_purchase_btw_10_14 = round(btw_10_14.Price.sum(),2)

In [40]:
mean_btw_10_14 = round(btw_10_14.Price.dropna().mean(),2)
max_btw_10_14 = btw_10_14.Price.dropna().max()
min_btw_10_14 = btw_10_14.Price.dropna().min()
btw_10_14['Price'] = btw_10_14['Price'] - mean_price_btw_10_14
normalized_price_constant_btw_10_14 = btw_10_14['Price'].mean()
normalized_price_btw_10_14 = round(mean_price_btw_10_14 - normalized_price_constant_btw_10_14,2)
normalized_price_btw_10_14

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.77

In [43]:
percent_btw_10_14_df = {'Percentage of Players':[percent_btw_10_14], 'Total Count':[size_btw_10_14]}
percent_btw_10_14_df = pd.DataFrame(percent_btw_10_14_df, index = ['10 - 14'])

In [44]:
percent_btw_10_14_df_analysis = {'Average Purchased Price':[mean_price_btw_10_14], 'Purchase Count':[size_btw_10_14],
                         'Total Purchase Value': [total_purchase_btw_10_14], 'Normalized Total': [normalized_price_btw_10_14]}

percent_btw_10_14_df_analysis = pd.DataFrame(percent_btw_10_14_df_analysis, index = ['10 - 14'])

percent_btw_10_14_df_analysis = percent_btw_10_14_df_analysis[['Purchase Count', 'Average Purchased Price', 'Total Purchase Value', 'Normalized Total']]

In [45]:
btw_15_19 = df[(df['Age'] >= 15) & (df['Age'] <20)]
size_btw_15_19  = len(btw_15_19 )
percent_btw_15_19 = round((size_btw_15_19/data_size)*100,2)
mean_price_btw_15_19 = round(btw_15_19.Price.mean(),2)
total_purchase_btw_15_19 = round(btw_15_19.Price.sum(),2)

In [46]:
mean_btw_15_19 = round(btw_15_19.Price.dropna().mean(),2)
max_btw_15_19 = btw_15_19.Price.dropna().max()
min_btw_15_19 = btw_15_19.Price.dropna().min()
btw_15_19['Price'] = btw_15_19['Price'] - mean_price_btw_15_19
normalized_price_constant_btw_15_19 = btw_15_19['Price'].mean()
normalized_price_btw_15_19 = round(mean_price_btw_15_19 - normalized_price_constant_btw_15_19,2)
normalized_price_btw_15_19

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.91

In [47]:
percent_btw_15_19_df = {'Percentage of Players':[percent_btw_15_19], 'Total Count':[size_btw_15_19]}
percent_btw_15_19_df = pd.DataFrame(percent_btw_15_19_df, index = ['15 - 19'])

In [48]:
percent_btw_15_19_df_analysis = {'Average Purchased Price':[mean_price_btw_15_19], 'Purchase Count':[size_btw_15_19],
                         'Total Purchase Value': [total_purchase_btw_15_19], 'Normalized Total': [normalized_price_btw_15_19]}

percent_btw_15_19_df_analysis = pd.DataFrame(percent_btw_15_19_df_analysis, index = ['15 - 19'])

percent_btw_15_19_df_analysis = percent_btw_15_19_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [49]:
btw_19_24 = df[(df['Age'] >= 20) & (df['Age'] <25)]

In [50]:
size_btw_19_24  = len(btw_19_24 )
percent_btw_19_24 = round((size_btw_19_24/data_size)*100,2)
mean_price_btw_19_24 = round(btw_19_24.Price.mean(),2)
total_purchase_btw_19_24 = round(btw_19_24.Price.sum(),2)

In [51]:
mean_btw_19_24 = round(btw_19_24.Price.dropna().mean(),2)
max_btw_19_24 = btw_19_24.Price.dropna().max()
min_btw_19_24 = btw_19_24.Price.dropna().min()
btw_19_24['Price'] = btw_19_24['Price'] - mean_price_btw_19_24
normalized_price_constant_btw_19_24 = btw_19_24['Price'].mean()
normalized_price_btw_19_24 = round(mean_price_btw_19_24 - normalized_price_constant_btw_19_24,2)
normalized_price_btw_19_24

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.91

In [52]:

percent_btw_19_24_df = {'Percentage of Players':[percent_btw_19_24], 'Total Count':[size_btw_19_24]}
percent_btw_19_24_df = pd.DataFrame(percent_btw_19_24_df, index = ['20 - 24'])

In [53]:
percent_btw_19_24_df_analysis = {'Average Purchased Price':[mean_price_btw_19_24], 'Purchase Count':[size_btw_19_24],
                         'Total Purchase Value': [total_purchase_btw_19_24], 'Normalized Total': [normalized_price_btw_19_24]}

percent_btw_19_24_df_analysis = pd.DataFrame(percent_btw_19_24_df_analysis, index = ['20 - 24'])

percent_btw_19_24_df_analysis = percent_btw_19_24_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [54]:
btw_25_29 = df[(df['Age'] >= 25) & (df['Age'] <30)]
size_btw_25_29  = len(btw_25_29)
percent_btw_25_29 = round((size_btw_25_29/data_size)*100,2)
mean_price_btw_25_29 = round(btw_25_29.Price.mean(),2)
total_purchase_btw_25_29 = round(btw_25_29.Price.sum(),2)

In [55]:

mean_btw_25_29 = round(btw_25_29.Price.dropna().mean(),2)
max_btw_25_29 = btw_25_29.Price.dropna().max()
min_btw_25_29 = btw_25_29.Price.dropna().min()
btw_25_29['Price'] = btw_25_29['Price'] - mean_price_btw_25_29
normalized_price_constant_btw_25_29 = btw_25_29['Price'].mean()
normalized_price_btw_25_29 = round(mean_price_btw_25_29 - normalized_price_constant_btw_25_29,2)
normalized_price_btw_25_29

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

2.96

In [56]:
percent_btw_25_29_df = {'Percentage of Players':[percent_btw_25_29], 'Total Count':[size_btw_25_29]}
percent_btw_25_29_df = pd.DataFrame(percent_btw_25_29_df, index = ['25 - 29'])

In [57]:

percent_btw_25_29_df_analysis = {'Average Purchased Price':[mean_price_btw_25_29], 'Purchase Count':[size_btw_25_29],
                         'Total Purchase Value': [total_purchase_btw_25_29], 'Normalized Total': [normalized_price_btw_25_29]}

percent_btw_25_29_df_analysis = pd.DataFrame(percent_btw_25_29_df_analysis, index = ['25 - 29'])

percent_btw_25_29_df_analysis = percent_btw_25_29_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [58]:
btw_30_34 = df[(df['Age'] >= 30) & (df['Age'] <34)]
size_btw_30_34  = len(btw_30_34)
percent_btw_30_34 = round((size_btw_30_34/data_size)*100,2)
mean_price_btw_30_34 = round(btw_30_34.Price.mean(),2)
total_purchase_btw_30_34 = round(btw_30_34.Price.sum(),2)

In [59]:
mean_btw_30_34 = round(btw_30_34.Price.dropna().mean(),2)
max_btw_30_34 = btw_30_34.Price.dropna().max()
min_btw_30_34 = btw_30_34.Price.dropna().min()
btw_30_34['Price'] = btw_30_34['Price'] - mean_price_btw_30_34
normalized_price_constant_btw_30_34 = btw_30_34['Price'].mean()
normalized_price_btw_30_34 = round(mean_price_btw_30_34 - normalized_price_constant_btw_30_34,2)
normalized_price_btw_30_34

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

3.09

In [60]:
percent_btw_30_34_df = {'Percentage of Players':[percent_btw_30_34], 'Total Count':[size_btw_30_34]}
percent_btw_30_34_df = pd.DataFrame(percent_btw_30_34_df, index = ['29 - 34'])

In [61]:
percent_btw_30_34_df_analysis = {'Average Purchased Price':[mean_price_btw_30_34], 'Purchase Count':[size_btw_30_34],
                         'Total Purchase Value': [total_purchase_btw_30_34], 'Normalized Total': [normalized_price_btw_30_34]}

percent_btw_30_34_df_analysis = pd.DataFrame(percent_btw_30_34_df_analysis, index = ['29 - 34'])

percent_btw_30_34_df_analysis = percent_btw_30_34_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [62]:

btw_35_39 = df[(df['Age'] >= 35) & (df['Age'] <39)]
size_btw_35_39  = len(btw_35_39)
percent_btw_35_39 = round((size_btw_35_39/data_size)*100,2)
mean_price_btw_35_39 = round(btw_35_39.Price.mean(),2)
total_purchase_btw_35_39 = round(btw_35_39.Price.sum(),2)

In [63]:
mean_btw_35_39 = round(btw_35_39.Price.dropna().mean(),2)
max_btw_35_39 = btw_35_39.Price.dropna().max()
min_btw_35_39 = btw_35_39.Price.dropna().min()
btw_35_39['Price'] = btw_35_39['Price'] - mean_price_btw_35_39
normalized_price_constant_btw_35_39 = btw_35_39['Price'].mean()
normalized_price_btw_35_39 = round(mean_price_btw_35_39 - normalized_price_constant_btw_35_39,2)
normalized_price_btw_35_39

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

2.81

In [64]:
percent_btw_35_39_df = {'Percentage of Players':[percent_btw_35_39], 'Total Count':[size_btw_35_39]}
percent_btw_35_39_df = pd.DataFrame(percent_btw_35_39_df, index = ['34 - 39'])

In [65]:
percent_btw_35_39_df_analysis = {'Average Purchased Price':[mean_price_btw_35_39], 'Purchase Count':[size_btw_35_39],
                         'Total Purchase Value': [total_purchase_btw_35_39], 'Normalized Total': [normalized_price_btw_35_39]}

percent_btw_35_39_df_analysis = pd.DataFrame(percent_btw_35_39_df_analysis, index = ['34 - 39'])

percent_btw_35_39_df_analysis = percent_btw_35_39_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [66]:
more_40 = df[df['Age'] >= 40]
size_more_40  = len(more_40)
percent_more_40 = round((size_more_40/data_size)*100,2)
mean_price_more_40 = round(more_40.Price.mean(),2)
total_purchase_more_40 = round(more_40.Price.sum(),2)

In [67]:
mean_more_40 = round(more_40.Price.dropna().mean(),2)
max_more_40 = more_40.Price.dropna().max()
min_more_40 = more_40.Price.dropna().min()
more_40['Price'] = more_40['Price'] - mean_price_more_40
normalized_price_constant_more_40 = more_40['Price'].mean()
normalized_price_more_40 = round(mean_price_more_40 - normalized_price_constant_more_40,2)
normalized_price_more_40

C:\Users\JChavez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

3.16

In [68]:
percent_more_40_df = {'Percentage of Players':[percent_more_40], 'Total Count':[size_more_40]}
percent_more_40_df = pd.DataFrame(percent_more_40_df, index = ['40+'])

In [69]:

percent_more_40_df_analysis = {'Average Purchased Price':[mean_price_more_40], 'Purchase Count':[size_more_40],
                         'Total Purchase Value': [total_purchase_more_40], 'Normalized Total': [normalized_price_more_40]}

percent_more_40_df_analysis = pd.DataFrame(percent_more_40_df_analysis, index = ['40+'])

percent_more_40_df_analysis = percent_more_40_df_analysis[['Purchase Count', 'Average Purchased Price', 
                                                 'Total Purchase Value', 'Normalized Total']]

In [70]:
frames_age = [percent_10_df, percent_btw_10_14_df, percent_btw_15_19_df, percent_btw_19_24_df,
              percent_btw_25_29_df, percent_btw_30_34_df, percent_btw_35_39_df, percent_more_40_df]


result_age = pd.concat(frames_age)

result_age['Percentage of Players'] = result_age['Percentage of Players'].astype(str) + '%'

result_age

        Percentage of Players  Total Count
<10                     3.59%           28
10 - 14                 4.49%           35
15 - 19                17.05%          133
20 - 24                43.08%          336
25 - 29                16.03%          125
29 - 34                 7.18%           56
34 - 39                 4.74%           37
40+                     2.18%           17

In [71]:
frames_age_analysis = [percent_10_df_analysis, percent_btw_10_14_df_analysis, percent_btw_15_19_df_analysis, 
                       percent_btw_19_24_df_analysis,percent_btw_25_29_df_analysis, 
                       percent_btw_30_34_df_analysis, percent_btw_35_39_df_analysis, percent_more_40_df_analysis]


result_age_analysis = pd.concat(frames_age_analysis)
result_age_analysis['Average Purchased Price'] = '$' + result_age_analysis['Average Purchased Price'].astype(str) 
result_age_analysis['Total Purchase Value'] = '$' + result_age_analysis['Total Purchase Value'].astype(str) 
result_age_analysis['Normalized Total'] = '$' + result_age_analysis['Normalized Total'].astype(str) 

result_age_analysis

,Purchase Count,Average Purchased Price,Total Purchase Value,Normalized Total
<10,28,$2.98,$83.46,$2.98
10 - 14,35,$2.77,$96.95,$2.77
15 - 19,133,$2.91,$386.42,$2.91
20 - 24,336,$2.91,$978.77,$2.91
25 - 29,125,$2.96,$370.33,$2.96
29 - 34,56,$3.09,$172.93,$3.09
34 - 39,37,$2.81,$104.06,$2.81
40+,17,$3.16,$53.75,$3.16

In [73]:
df_spenders = df.drop(['Age', 'Gender', 'Item_id', 'Item_name'], axis = 1)
sn_counts = df_spenders.groupby('SN').count()
sn_counts = sn_counts.rename(columns={'Price':'Purchase Count'})

In [74]:

sn_total = df_spenders.groupby('SN')
sn_total_sum = sn_total.sum()
sn_total_sum = sn_total_sum.rename(columns={'Price':'Total Purchase Value'})
sn_data = pd.concat([sn_counts, sn_total_sum], axis=1)

In [75]:
## Top Spenders


sn_data['Average Purchase Price'] = sn_data['Total Purchase Value']/sn_data['Purchase Count']
sn_data = sn_data[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
sn_data['Average Purchase Price']= sn_data['Average Purchase Price'].round(2)
sn_data.nlargest(5, 'Total Purchase Value')

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                    3.41                 17.06
Saedue76                  4                    3.39                 13.56
Mindimnya67               4                    3.18                 12.74
Haellysu29                3                    4.24                 12.73
Eoda93                    3                    3.86                 11.58

In [77]:
# Most Popular Items

df_popular = df.drop(['Age', 'Gender', 'SN',], axis = 1)
df_polular_total = df_popular.groupby(['Item_id', 'Item_name'])
df_polular_total_sum = df_polular_total.sum()
df_polular_total_sum = df_polular_total_sum.rename(columns={'Price':'Total Purchase Value'})
df_polular_counts = df_popular.groupby(['Item_id', 'Item_name']).count()
df_polular_counts = df_polular_counts.rename(columns={'Price':'Purchase Count'})
popular_data = pd.concat([df_polular_counts, df_polular_total_sum], axis=1)
popular_data.nlargest(5, 'Total Purchase Value')

                                    Purchase Count  Total Purchase Value
Item_id Item_name
34      Retribution Axe                          9                 37.26
115     Spectral Diamond Doomblade               7                 29.75
32      Orenmir                                  6                 29.70
103     Singed Scalpel                           6                 29.22
107     Splitter, Foe Of Subtlety                8                 28.88

In [78]:
popular_data['Average Purchase Price'] = popular_data['Total Purchase Value']/popular_data['Purchase Count']

In [79]:
popular_data = popular_data[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

In [81]:
# Most Profitable Items

profitable_data = popular_data

profitable_data.nlargest(5, 'Total Purchase Value')

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item_id,Item_name,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88